@import 'Variables';
.card{
    width: 17rem;
    border-radius: 0.5rem;
    padding: 0.4rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    .img-div{
        position: absolute;
        left: 1rem;
        top: -2rem;
        background-color: $violet;
        display: flex !important;
        align-items: center;
        justify-content: center;

       
        width: 2.5rem !important;
        height: 2.5rem;

        border-radius: 50% !important;
        img{
            width: 80% !important;
            height: 80% !important;
            align-self: center;
        }

    }
  
    p{
        width: 100%;
        text-align: left;
        font-size: 0.8rem;
        margin-left: 1rem;
        margin-top: 0;
    }

    h3{
    width: 100%;
    margin: 0 !important;
    text-align: left;
    margin-left: 1rem !important;
    }

   }

@media screen and (max-width: 560px) {
    
    .card{
        width: 95%;
        margin-top: 5rem;
        .img-div{
            left: 40%;
        }
        .line{
            width:  1rem;
            height: 4rem;
            background-color: $cyan;
            position: absolute;
            bottom: -4rem;
            left: 45%;
            
        }
        
    }
    
}