@import '_Variables';
$white: #fff;
.header{
    width: 100%;
    height: 8rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    h1{
        margin-left: 10rem !important;
        font-size: 1.1rem;
    }
    nav{
        width: 80%;
        display: flex;
        flex-direction: row;
   
        justify-content: space-around;
        margin-left: 0;
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            width: 30%;
           
            justify-content: space-around;
            margin: 0;
            li{
                margin: 0;
                opacity: 0.5;
                cursor: pointer;
            }
            li:hover{
                opacity: 1;
            }
        }
        .auth{
            width: 20%;
            margin-left: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
           
            button{
                height: auto;
                width: 6rem;
                background-color: #fff;
                border: none;
                font-weight: 700;
                opacity: 0.5;
                cursor: pointer;
                padding: 0.4rem;
            }
            button:hover{
                background-color: hsl(180, 66%, 49%);
                color: #fff;
                border: 1px solid hsl(180, 66%, 49%);
                border-radius: 1rem;
            }
        }
    }
}