@import 'Variables';

@import 'Buttons';
.section-2{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
   
   
    .form-div{
        width: 80%;
        background-color: $violet;
        margin-inline: auto ;
        position: relative;
        border-radius: 0.5rem !important;
        overflow: hidden !important;
        background-image: url('../images//bg-shorten-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        height: 7rem;
       
        .main-form{
            width: 40rem;
            padding: 2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
           
            margin-inline:auto ;
            position: relative;
            input{
                width: 90%;
                padding: 1rem;
                border-radius: 0.5rem;
                z-index: 100 !important;
                outline: none !important;
    
            }
            input.error-class{
                border: 1px solid $red;
            }
            input.error-class::placeholder{
                color: $red !important;
            }
            .error-text{
                color: $red;
                position: absolute;
                bottom: 0.3rem;
                left: 2rem;
               margin: 0 !important;
            }
            button{
              
                @include button2();
                width: 9rem;
                padding: 1rem;
                z-index: 10;
                margin-left: 0.5rem;
          
            }
        }
    }
   
}

@media screen and (max-width: 560px) {
    .section-2{
        .form-div{
            width: 90%;
            height: auto;
            .main-form{
                width: 100%;
                flex-direction: column;
                justify-content: center !important;
                padding: 0 !important;
                height: 10rem;
               
                input{
                    width: 80% !important;
                    padding: 0.9rem;
                    outline: none;
                   
                }
                .error-text{
                    position: static;
                }
              
                button{
                    margin-top: 0.3rem;
                    width: 90%;
                    border-radius: 0.2rem;
                    margin-right: 0.2rem;
                }
            }
        }
    }
    
   
}